.header__banner {
  padding: 0 40px;
  //background-color: lighten(#230444, 50% );
  display: grid;
  grid-template-columns: 1fr;
  min-height: 500px;



&-left {
  height: 100%;
  padding-top: 70px;
  // padding-right: 200px;
  .header__banner-left__title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.6;
  }


  .header__banner-left__actions {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr;

    .btn {
      padding: 10px 20px;
      border-radius: 50px;
      cursor: pointer;

      transition: all 0.3s;

      &.call-action {
        border: none;
        background-color:  #230444;
        color: #ffffff;
      }

      &.call-action-outline{
        border: 1px solid #230444;
        color: #230444;

        &:hover {
          color: #ffffff;
          background-color: #230444;
          border-color: #230444;
        }
      }
    }

  }
}

&-right{
  // left
  display: none;
}
}


.feature {
  padding: 50px 40px;
  min-height: 500px;


  .feature__title {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 800;
    font-family: 'Montesseract', sans-serif;
  }

  .feature__subtile {
    display: flex;
    justify-self: center;
    width: 50%;
    text-align: center;
  }


}

// media queries

@media (min-width: 640px){
  .header__banner {
    grid-template-columns: 1fr;
    &-left {
      // height: 100%;
      padding-top: 100px;
      // padding-right: 200px;

      .header__banner-left__title {
        font-weight: 300;
        font-size: 3rem;
        line-height: 1.6;
      }

      .header__banner-left__actions{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
      }
    }
  }
}

@media (min-width: 768px){
  .header__banner {
    grid-template-columns: 1fr 1fr;
  }
    /* &-left {

    } */

}

@media (min-width: 1024px){


}

@media (min-width: 1200px){


}

